<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnicalTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechnicalTask.Properties.Settings>
            <setting name="DefaultBasicSalesTaxRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ExemptBasicSalesTaxRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportDutyRate" serializeAs="String">
                <value>5</value>
            </setting>
        </TechnicalTask.Properties.Settings>
    </applicationSettings>
</configuration>